<h1>Preferences</h1>
<p>
The tabs in the Help window control different aspects of the program.  
In each case, any values you set will remain in effect when you shut down and restart the program.  
In some cases, the changes will take effect immediately.  
In other cases, it will be necessary to shut down and restart the program before the changes take effect.  
</p>

<h2>Export Preferences</h2>
<p>
<b>Export Preferences</b> allows you to save all the persistent preferences in the program to an XML file.  
A file chooser will open allowing you to choose the location to save the XML file.  
All preferences set by the user will be saved.  
</p>
<h2>Import Preferences</h2>
<p>
<b>Import Preferences</b> allows you to load persistent preferences from an XML file.  
A file chooser will open allowing you to choose the file.  
Use this to load an XML file previously saved with <b>Export</b>. 
All loaded preferences are <em>merged</em> with your existing preferences.  
Be sure you trust the provider of the file.  
</p>
<h2>Clear Preferences</h2>
<p>
<b>Clear Preferences</b> allows you to clear all the persistent preferences.  
A dialog will open to verify your action.  
Use this to reset all Preferences to default values. 
The IGB program will exit.  
</p>
